
html,body{
    width:100%;
    height: 100%;
}

body{
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-size: 30px;
    text-align: center;
    overflow-x: hidden;
    color:white;

}

.container{
    display: grid;
    grid-template-columns: 47% 47%;
    grid-template-rows:50% 50%;
    grid-gap: 5px;
    width: 100%;
    height: 100%;
    padding-left: 30px;
}

.container div{
    border: 1px solid rgb(179, 179, 179);
    padding: 6px;
    border-radius: 7px;
}

.layout1{
    display: grid;
    min-width: 0;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 15% 65%;
    grid-gap:.7px;
    grid-template-areas: 
      "header header header header"
      ". title title ."
      "main-a main-a main-b main-b";
    align-content: center;
  }

 .item-a {
    grid-area: header;
    background-color: rgb(114, 12, 161);
    overflow: hidden;  
    min-width: 0;
  }

  #b-pading {
      padding: 0;
      grid-area: title;
      background-color: rgb(160, 85, 190);
      min-width: 0;
      overflow: hidden; 
  }

  .item-c {
    grid-area: main-a;
    background-color: rgb(201, 7, 207);
    min-width: 0;
  }
  .item-d {
    grid-area: main-b;
    background-color: rgb(201, 7, 207);
    min-width: 0;
  }

  .layout2{
    display: grid;
    min-width: 0;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 20% 40% 40%;
    grid-gap: .7px;
    grid-template-areas: 
      "header header header"
      "main main main-a"
      "main main main-b";
      padding: 5px;
  }

 .item-a2 {
    grid-area: header;
    background-color: rgb(114, 12, 161);
    overflow: hidden;  
    min-width: 0;
  }
  .item-b2 {
    grid-area: main;
    background-color: rgb(160, 85, 190);
    min-width: 0;
  }
  .item-c2 {
    grid-area: main-a;
    background-color: rgb(201, 7, 207);
    min-width: 0;
  }
  .item-d2 {
    grid-area: main-b;
    background-color: rgb(201, 7, 207);
    min-width: 0
  }

  .layout3{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 40% 40%;
    grid-gap:.7px;
    grid-template-areas: 
      "aside header header header"
      "aside one two three"
      "aside four five six";
      padding: 5px;
  }

 .item-a3 {
    grid-area: header;
    background-color: rgb(114, 12, 161);
    min-width: 0;
  }
  .item-b3 {
    grid-area: aside;
    background-color: rgb(160, 85, 190);
    min-width: 0
  }

  .item-c3{
      grid-area:one;
      background-color: rgb(201, 7, 207);
      min-width: 0

  }

  .item-d3{
      grid-area:two;
      background-color: rgb(201, 7, 207);
      min-width: 0

  }
  
  .item-e3{
      grid-area:three;
      background-color: rgb(201, 7, 207);
      min-width: 0

  }

  .item-f3{
      grid-area:four;
      background-color: rgb(201, 7, 207);
      min-width: 0

  }

  .item-g3{
      grid-area:five;
      background-color: rgb(201, 7, 207);
      min-width: 0

  }

  .item-h3{
      grid-area:six;
      background-color: rgb(201, 7, 207);
      min-width: 0

  }

  .layout4{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 40% 40%;
    grid-gap:.7px;
    grid-template-areas: 
      "aside-a header header aside-b"
      "aside-a one two aside-b"
      "aside-a three four aside-b";
      padding: 5px;
  }

  .item-a4 {
    grid-area: header;
    background-color: rgb(114, 12, 161);
    min-width: 0;
  }
  .item-b4 {
    grid-area: aside-a;
    background-color: rgb(160, 85, 190);
    min-width: 0
  }

  .item-l4{
      grid-area: aside-b;
      background-color: rgb(160, 85, 190);
      min-width: 0
  }

  .item-c4{
      grid-area:one;
      background-color: rgb(201, 7, 207);
      min-width: 0
  }

  .item-d4{
      grid-area:two;
      background-color: rgb(201, 7, 207);
      min-width: 0
  }
  
  .item-e4{
      grid-area:three;
      background-color: rgb(201, 7, 207);
      min-width: 0
  }

  .item-f4{
      grid-area:four;
      background-color: rgb(201, 7, 207);
      min-width: 0
  }

  



